.bodyLogin{
    background-size: cover;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-image: linear-gradient(rgba(0,0,0,.50), rgba(0,0,0,.50)100%), url(../../assets/images/3.jpg);
    background-color: rgb(255, 255, 255);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
}

.telaLogin{
    display:block;
    margin-bottom: 1rem;
    margin-top: 1rem;
}

.panel-body{
    background-color: white;
    margin: 10rem 30rem;
    padding: 20px 0 20px;
    border-radius: 20px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 60%);
}

.linha{
    padding-bottom: 15px;
}

.grafico{
    min-width: 400px; height: 200px; padding:20px;
}